div.products-container {
    background-color: #ffffff;
}

div.products-container .products-banner {
    position: relative;
    padding: 50px;
}

div.products-container .products-body {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    padding: 55px 0;
    box-shadow: 0px -20px 19px 0px rgba(0, 0, 0, 0.2);
}

div.cards-container {
    width: 100%;
    background-color: #ffffff;
}

@media (min-width: 1024px) {
    div.products-container .products-body {
        padding: 55px 0;
        height: 100%;
    }
}

@media (min-width: 1440px) {
    div.products-container .products-body {
        padding: 55px 15px;
    }
}

@media (min-width: 1920px) {
    div.products-container .products-body {
        padding: 55px 10px;
    }
}

@media (min-width: 2560px) {
    div.products-container .products-body {
        padding: 55px 80px;
    }
}