div.categories {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 55px 0;
}

div.categories a {
    position: relative;
    height: 180px;
    margin: 10px auto;
    text-align: center;
    border-radius: 15px;
    z-index: 1;
}

div.categories a .cover {
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    transition: 500ms;
    border-radius: inherit;
    z-index: 1;
}

div.categories a img {
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

div.categories a h2 {
    position: absolute;
    top: 35%;
    font-size: 40px;
    text-transform: capitalize;
    color: #ececec;
    text-shadow: 0 0 50px #000000;
    transition: 500ms;
    z-index: 2;
}

div.categories a:hover .cover {
    opacity: 0.8;
}

div.categories a:hover h2 {
    color: #ffae00;
}

@media (min-width: 390px) {
    div.categories a {
        height: 200px;
    }
}

@media (min-width: 768px) {
    div.categories a {
        height: 300px;
    }
    div.categories a h2 {
        font-size: 60px;
    }
}

@media (min-width: 1024px) {
    div.categories a {
        height: 200px;
    }
    div.categories a h2 {
        font-size: 45px;
    }
    div.categories {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    div.categories a {
        height: 280px;
    }
    div.categories a h2 {
        font-size: 60px;
    }
}

@media (min-width: 1920px) {
    div.categories a {
        width: 500px;
        height: 300px;
    }
    div.categories a h2 {
        font-size: 65px;
    }
}

@media (min-width: 2560px) {
    div.categories a {
        width: 600px;
        height: 360px;
    }
}