div.main-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background-color: #ffffff;
}

div.teste {
    display: flex;
    flex-direction: row;
}