.dropdown-category {
    padding-bottom: 5px;
}

h2.dropdown-category-name {
    font-size: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px white solid;
    transition: 600ms;
}

h2.dropdown-category-name:hover {
    color: #ffae00;
}

.dropdown-category-type-container {
    padding: 0 0 15px 30px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    max-height: fit-content;
    height: 0;
    flex-direction: column;
    transition: 200ms;
}

a.dropdown-category-type {
    font-size: 15px;
    color: #888888;
    transition: 200ms;
}

a.dropdown-category-type:first-child {
    padding-top: 10px;
}

a.dropdown-category-type:hover {
    color: #ffffff;
}