div.box-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background-color: #ffffff;
    z-index: 1;
}

div.box-container .box {
    display: flex;
    position: relative;
    margin: auto;
    top: 130px;
    flex-direction: column;
}

div.box-container .box .container {
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

div.box-container .box img {
    visibility: hidden;
    height: 0;
}

div.box-container .box .inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    margin: 50px auto;
}

div.box-container .box .inputs h1 {
    font-size: 14px;
    margin-bottom: 20px;
}

div.box-container .box .inputs input {
    width: 265px;
    padding: 15px;
    margin: 10px 0 0;
    color: #2e2e2e;
    background-color: #d6d6d6;
    transition: 500ms;
}

div.box-container .box .inputs input:focus {
    background-color: #2e2e2e;
    color: #ffffff;
}

div.box-container .box .inputs input:focus::placeholder {
    color: #ffffff;
}

div.box-container .box .inputs h3 {
    color: #888888;
    font-size: 13px;
}

div.box-container .box .inputs h4 {
    color: #888888;
    text-align: center;
    font-size: 14px;
    margin: 15px 0 0;
}

div.box-container .box .inputs button {
    width: 100%;
    padding: 10px;
    margin: 10px 0 0;
    font-size: 15px;
    background-color: #ffae00;
    cursor: pointer;
    transition: 500ms;
}

div.box-container .box .inputs button:hover {
    color: #ffffff;
    background-color: #1f1f1f;
}

@media (min-width: 390px) {
    div.box-container .box {
        height: 595px;
        top: 150px;
    }
    div.box-container .box .inputs h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    div.box-container .box .inputs input {
        width: 280px;
        font-size: 15px;
    }
    div.box-container .box .inputs h3 {
        font-size: 12px;
    }
    div.box-container .box .inputs button {
        padding: 12px;
        margin-top: 15px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    div.box-container .box {
        width: 400px;
        height: 595px;
        top: 150px;
    }
    div.box-container .box .inputs {
        margin: 30px auto;
    }
    div.box-container .box .inputs h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    div.box-container .box .inputs input {
        width: 280px;
        font-size: 13px;
    }
    div.box-container .box .inputs h3 {
        font-size: 12px;
    }
    div.box-container .box .inputs button {
        padding: 10px;
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    div.box-container .box {
        flex-direction: row;
        width: 650px;
        top: 150px;
    }
    div.box-container .box img {
        visibility: visible;
        height: 100px;
        margin: auto;
    }
    div.box-container .box .container {
        display: flex;
        flex-direction: row;
        height: min-content;
    }
    div.box-container .box .inputs {
        display: flex;
        flex-direction: column;
        text-align: unset;
        width: fit-content;
        margin: 50px 0 50px 50px;
    }
    div.box-container .box .inputs h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    div.box-container .box .inputs input {
        width: 250px;
        padding: 10px;
        font-size: 13px;
    }
    div.box-container .box .inputs h3 {
        font-size: 12px;
    }
    div.box-container .box .inputs button {
        padding: 10px;
        font-size: 15px;
    }
}

@media (min-width: 1920px) {
    div.box-container .box {
        flex-direction: row;
        width: 750px;
        top: 150px;
    }
    div.box-container .box img {
        visibility: visible;
        height: 100px;
        margin: auto;
    }
    div.box-container .box .container {
        display: flex;
        flex-direction: row;
        height: min-content;
    }
    div.box-container .box .inputs {
        display: flex;
        flex-direction: column;
        text-align: unset;
        width: fit-content;
        margin: 60px 0 60px 50px;
    }
    div.box-container .box .inputs h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    div.box-container .box .inputs input {
        width: 250px;
        padding: 10px;
        font-size: 13px;
    }
    div.box-container .box .inputs h3 {
        font-size: 12px;
    }
    div.box-container .box .inputs button {
        padding: 10px;
        font-size: 15px;
    }
}

@media (min-width: 2560px) {}