div.products-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background-color: #ffffff;
}

div.products-container .products-banner {
    position: relative;
    padding: 50px;
}

div.products-container .products-banner .name-box {
    position: absolute;
    margin: 70px auto;
    padding: 10px 55px;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

div.products-container .products-banner .name-box h2 {
    text-transform: capitalize;
    font-size: 32px;
}

div.products-container .products-body {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    padding: 55px 0;
    box-shadow: 0px -20px 19px 0px rgba(0, 0, 0, 0.2);
}

div.products-container .products-body .filters {
    width: 0;
    padding: 0;
    height: fit-content;
    height: initial;
    min-width: 0;
    margin-right: 0;
    background-color: black;
}

@media (min-width: 390px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    div.products-container .products-body .filters {
        width: 60%;
        padding: 15px 20px;
        margin-right: 20px;
    }
    div.products-container .products-body {
        padding: 55px 20px;
    }
}

@media (min-width: 1440px) {
    div.products-container .products-body .filters {
        width: 16%;
        margin-right: 15px;
    }
    div.products-container .products-body {
        padding: 55px 10px;
    }
}

@media (min-width: 1920px) {
    div.products-container .products-body .filters {
        width: 18%;
        margin-right: 25px;
    }
    div.products-container .products-body {
        padding: 55px 10px;
    }
}

@media (min-width: 2560px) {}