div.products-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background-color: #ffffff;
}

div.products-container .products-banner {
    position: relative;
    padding: 50px;
}

div.products-container .products-banner .name-box {
    position: absolute;
    margin: 70px auto;
    padding: 10px 55px;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

div.products-container .products-banner .name-box h2 {
    text-transform: capitalize;
    font-size: 32px;
}

div.products-container .products-body {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    padding: 55px 10px;
    box-shadow: 0px -20px 19px 0px rgba(0, 0, 0, 0.2);
}

div.products-container .products-body .filters {
    width: 18%;
    height: fit-content;
    padding: 25px 10px 10px;
    height: initial;
    min-width: 180px;
    margin-right: 20px;
    background-color: black;
}

div.products-container .products-body .products {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0 0 0 20px;
    padding: 25px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

div.products .items {
    padding-top: 20px;
    width: fit-content;
}

div.products .items .card {
    position: relative;
    float: left;
    max-width: 380px;
    width: 280px;
    height: 535px;
    margin: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

div.products .items .cover {
    position: absolute;
    height: 70%;
    background-color: #000000;
    opacity: 0;
    transition: 400ms;
    z-index: 1;
}

div.products .items .card .cover:hover {
    background-color: black;
    opacity: 0.5;
}

div.products .items .card img {
    width: 100%;
}

div.products .items .card .bio {
    position: relative;
    margin-top: -5px;
    padding: 20px;
    background-color: #ffffff;
    z-index: 2;
}

div.products .items .card .bio h2 {
    padding-bottom: 20px;
    font-size: 15px;
    height: 40px;
    letter-spacing: -1px;
    color: #000000;
    text-transform: capitalize;
}

div.products .items .card .bio h3 {
    padding-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: capitalize;
}

div.products .items .card .buy {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ffae00;
    cursor: pointer;
    transition: 500ms;
}

div.products .items .card .buy:hover {
    color: #ffffff;
    background-color: #1f1f1f;
}