@font-face {
    font-family: WorkSans-SemiBold;
    src: url(./assets/fonts/WorkSans/WorkSans-SemiBold.ttf);
    font-display: block;
}

@font-face {
    font-family: WorkSans-Bold;
    src: url(./assets/fonts/WorkSans/WorkSans-Bold.ttf);
    font-display: block;
}

@font-face {
    font-family: WorkSans-Light;
    src: url(./assets/fonts/WorkSans/WorkSans-Light.ttf);
    font-display: block;
}

@font-face {
    font-family: WorkSans-Medium;
    src: url(./assets/fonts/WorkSans/WorkSans-Medium.ttf);
    font-display: block;
}

* {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    user-select: none;
    text-decoration: none;
}

body {
    min-width: fit-content;
    background-color: #fff;
}