@font-face {
    font-family: GothamRounded-Bold;
    src: url(./assets/fonts/GothamRounded-Bold/GothamRounded-Bold.ttf);
}

* {
    font-family: GothamRounded-Bold;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    text-decoration: none;
}

body {
    min-width: fit-content;
    background-color: #fff;
}