div.cart-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background-color: #ffffff;
}

div.cart-container .cart-banner {
    position: relative;
    padding: 50px;
}

div.cart-container .cart-body {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 55px 10px;
    box-shadow: 0px -20px 19px 0px rgba(0, 0, 0, 0.2);
}

div.cart-container .cart-body h2.title {
    align-self: center;
    padding-bottom: 25px;
    text-transform: capitalize;
    word-spacing: 10px;
    font-size: 22px;
}

div.cart-container .cart-body .cart-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #bdbdbd;
}

div.cart-container .cart-body .cart-main .cart-items {
    margin-top: 4vh;
}

div.cart-container .cart-body .cart-main .cart-items .product {
    display: flex;
    margin-bottom: 35px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid #bdbdbd;
}

div.cart-container .cart-body .cart-main .cart-items .product img {
    width: 120px;
}

div.cart-container .cart-body .cart-main .cart-items .product .main-bio {
    position: relative;
    margin-left: 15px;
}

div.cart-container .cart-body .cart-main .cart-items .product .main-bio h2 {
    text-transform: capitalize;
    margin-top: 5px;
    font-size: 13px;
}

div.cart-container .cart-body .cart-main .cart-items .product .main-bio .cart-product-buttons {
    display: flex;
    flex-direction: column;
}

div.cart-container .cart-body .cart-main .cart-resume {
    text-align: center;
}

div.cart-container .cart-body .cart-main .cart-resume h2 {
    font-size: 20px;
}

div.cart-container .cart-body .cart-main .cart-resume button {
    width: 200px;
    padding: 10px 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #ffae00;
    cursor: pointer;
    transition: 500ms;
}

div.cart-container .cart-body .cart-main .cart-resume button:hover {
    color: #ffffff;
    background-color: #1f1f1f;
}

@media (min-width: 390px) {}

@media (min-width: 768px) {
    div.cart-container .cart-body {
        padding: 70px 80px;
    }
    div.cart-container .cart-body .cart-main .cart-items .product {
        width: 480px;
    }
    div.cart-container .cart-body .cart-main .cart-items .product .main-bio .cart-product-buttons {
        flex-direction: row;
    }
    div.cart-container .cart-body .cart-main .cart-items .product .main-bio .cart-product-buttons button {
        margin-right: 10px;
        width: 120px;
        margin-top: 8px;
        padding: 6px;
    }
    div.cart-container .cart-body .cart-main .cart-items .product .main-bio h2 {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    div.cart-container .cart-body {
        padding: 70px 100px;
    }
}

@media (min-width: 1440px) {
    div.cart-container .cart-body {
        padding: 70px 180px;
    }
}

@media (min-width: 1920px) {}

@media (min-width: 2560px) {
    div.cart-container .cart-body {
        padding: 75px 500px;
    }
    div.cart-container .cart-body .cart-main .cart-items .product {
        width: 500px;
    }
    div.cart-container .cart-body .cart-main .cart-items .product .main-bio .cart-product-buttons {
        flex-direction: row;
    }
    div.cart-container .cart-body .cart-main .cart-items .product .main-bio .cart-product-buttons button {
        margin-right: 15px;
        width: 140px;
        font-size: 16px;
        margin-top: 15px;
        padding: 8px;
    }
    div.cart-container .cart-body .cart-main .cart-items .product .main-bio h2 {
        font-size: 18px;
    }
    div.cart-container .cart-body .cart-main .cart-resume h2 {
        font-size: 22px;
    }
    div.cart-container .cart-body .cart-main .cart-resume button {
        width: 220px;
        font-size: 20px;
    }
}